<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Book detail</h1>
 <table>
   <thead>
   	<tr>
   	 <th></th>
   	 <th></th>
   	 <th></th>
   	</tr>
   </thead>
   <tbody>
   	<% @books.each do |book| %>
   	 <tr>
   	  <td>写真</td>
   	  <td><%= book.title %></td>
   	  <td><%= book.body %></td>
   	  <td><%= link_to 'Edit', "books#edit" %></td>
   	  <td><%= link_to 'Destroy', "books#index" %></td>
   	 </tr>
   	<% end %>
   </tbody>
 </table>